/* style.css */

body {
    font-family: sans-serif;
    background-color: #e3bceb;
    padding: 20px;
}

#feed {
    box-shadow: 5px 10px 18px #fcfaae;
    border-radius: 15px;
    padding: 20px;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

